:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #709b90;
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

/*body * + * {
  margin-top: 1.5em;
}*/

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.site-nav {
  display: flex;
  padding: 0.5em;
  list-style-type: none;
  background-color: #5f4b44;
  border-radius: 0.2em;
}

.site-nav > li {
  margin-top: 0;
}

.site-nav > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.site-nav > li + li {
  margin-left: 1.5em;
}

.site-nav > .nav-username {
  padding: 0.5em 0.5em;
  color: white;
  margin-left: 0;
}

.site-nav > .nav-date {
  margin-left: auto;
  margin-right: 0;
  padding: 0.5em 0.5em;
  color: white;
}

.tile {
  padding: 0.5em;
  background-color: white;
}

.flex {
  display: flex;
}

.flex > * + * {
  margin-top: 0;
  margin-left: 1.5em;
}

.taskpage {
  align-items: flex-start;
}

.column-main {
  flex: 2;
  padding-left: 0.5em;
}

.column-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.column-sidebar > .tile {
  flex: 1;
}

.task-form h3 {
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

.task-form input:not([type='checkbox']):not([type='radio']) {
  display: block;
  width: 100%;
  margin-top: 0;
}

.task-detail-due {
  display: block;
  width: 100%;
  margin-top: 0;
}

.task-form button {
  margin-top: 1em;
  border: 1px solid #cc6b5a;
  background-color: white;
  padding: 0.4em 1em;
  cursor: pointer;
  font-size: 0.75em;
}

.task-form > button + button {
  margin-left: 1em;
}

.task-form * {
  font-family: inherit;
  font-size: 1em;
}

.tasksarea {
  flex-direction: column;
}

.toolbar {
  padding: 0.5em;
  flex-direction: row-reverse;
}

/*.toolbar > button {
  padding: 0.5em 1.5em;
  background-color: #cc6b5a;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}*/

.toolbar > button1 {
  display: block;
  padding: 0.5em 1em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.toolbar > button,
select {
  display: block;
  padding: 0.4em 1em;
  /*background-color: #cc6b5a;
  color: white;*/
  border: 1px solid #cc6b5a;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.75em;
  margin-left: 1em;
  border-radius: 0.25em;
}

.toolbar > select {
  margin-left: 0;
}

.toolbar > .loader {
  display: block;
  margin-top: 0.7em;
  margin-right: auto;
}

.toolbar > .count {
  display: block;
  padding: 0.4em 1em;
  text-decoration: none;
}

.toolbar1 > * {
  margin-top: 1em;
  border: 1px solid #cc6b5a;
  background-color: white;
  padding: 0.5em 1em;
  cursor: pointer;
}

.toolbar > * + * {
  margin-left: 1.5em;
}

ul.tasks {
  list-style: none;
  padding: 0 0;
  margin-left: 0;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.task {
  align-items: center;
  margin-left: 0;
  border-bottom: #f5f5f5 solid 1px;
  margin-top: 1.5em;
}

.task-dirty {
  cursor: auto;
  color: gray;
}

/*body * + * {
  margin-top: 1.5em;
}*/

.task > .task-right {
  margin-left: auto;
  padding: 0.2em 1.5em;
}

.task > .task-due {
  font-size: 0.8em;
  padding: 0.2em 1.5em;
  background: #e8e8e8;
  border-radius: 0.5em;
}

.task-title {
  margin-left: 0.25em;
  cursor: pointer;
}

input[type='checkbox'] {
  zoom: 1.5;
  cursor: pointer;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

.tasknotes {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  font-size: 0.8em;
}

.taskmetrics {
  display: flex;
  flex-direction: column;
}

.taskmetrics > .toolbar {
  font-size: 0.8em;
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskmetrics > .toolbar > .nav {
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  display: block;
  padding: 0.5em 0.5em;
}

.taskmetrics > .toolbar > .title {
  font-family: inherit;
  display: block;
  padding: 0.5em 1em;
}

.taskmetrics > .secondtoolbar {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskmetrics > .secondtoolbar > span {
  font-family: inherit;
  display: block;
  padding: 0.5em 1em;
  flex-direction: row;
}
